#head{
    background-color: black;
 display: flex;
 justify-content:space-between;
 align-items: center;
}
#g1{
    height: 75px;
    width: 200px;
    padding: 20px;
}
.d{
    background-color: aquamarine;
    width: 15%;
border: 1px solid black;
margin-left: 45%;
text-align: center;
padding: 15px;
}