html{
    font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Playpen Sans', cursive;
}
#head{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#g1{
    height: px;
    width: 200px;
    padding: 10px;
}
a{
    background-color:aquamarine;
}